@media screen and (max-width: 1199px) {
	.pageOneNews .newsCol:after {
		display: none;
	}
	.newsCol {
		width: auto;
		float: none;
		padding-bottom: 50px;
		background: #faf8f1;
	}
	.pageOneNews .post {
		float: none;
		width: auto;
	}
	.innerHeader,
	.introduction,
	.section,
	.innerPage #content {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		margin-left: 20px;
	}
	.mainMenu {
		padding-right: 20px;
	}
	.mainMenu ul li {
		margin-left: 18px;
	}
	.mainMenu ul li a {
		font-size: 18px;
	}

	/* SLIDER */
	.slider .data {
		width: 300px;
		margin-left: -450px;
	}
	.slider .data .title {
		font-size: 32px;
		padding: 38px 0 0 30px;
	}
	.sliderDotsMenu {
		margin-left: -250px;
	}
	.slider .arrows {
		margin-left: -450px;
	}
	.sliderDotsMenu {
		margin-left: -200px;
	}

	/* INTRODUCTION */
	.innerSiteTitle {
    	font-size: 34px;
    }
	.introduction:before {
		width: 300px;
	}
	.introduction .blockContacts {
		width: 220px;
	}
	.introduction .blockContacts {
		width: 260px;
		padding: 56px 10px 0 30px;
	}
	.introductionText {
		margin-left: 300px;
	}

	/* PARTS_OF_BUILDING */
	.partsOfBuilding .sectionContent .item {
		width: 275px;
		height: 275px;
	}
	.partsOfBuilding .sectionContent .item:hover .itemLayerOverImg .itemDesc {
		display: none;
	}
	.partsOfBuilding .sectionContent .item .itemLayerOverImg .itemTitle {
		margin-top: 0;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		background: #000;
	}

	/* NEWS */
	.news .lastnews {
		width: 450px;
		height: 400px;
	}
	.news .lastnews .imgLastnews {
		display: none;
	}
	.news .prevLastNews {
		width: 450px;
	}

	/* EVENTS */
	.events .sectionContent .listItems {
		margin: 0 50px;
	}

	/* GALLERY */
	.gallery .sectionContent .part .bigImg {
		width: 600px;
		height: 370px;
	}
	.gallery .sectionContent .part .smallImg {
		width: 280px;
		height: 175px;
	}

	.section.services .sectionContent .itemsServices,
	.section.coworkingFriendly .itemsCoworkingFriendly {
		max-width: 800px;
		margin: 0 auto;
	}

	.priceCategory .body .typePriceCategory {
		width: 260px;
		margin-left: 10px;
	}

	.eventRooms .listEventRooms .item {
		width: 200px;
    }
    .eventzoneMain .section.services .sectionContent .itemsServices .item {
    	width: 260px;
    }
    .plansAndPhotosEventRooms .item .lastEvent {
    	display: none;
    }
    .plansAndPhotosEventRooms .item .map {
    	float: none;
    	text-align: center;
    	width: auto;
    }

    .section.menuBar .rightSidebarMenuBar,
	.section.menuBar .sectionContent:before {
		display: none;
	}
	.section.menuBar .contentMenuBar {
		width: auto;
		float: none;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar {
		padding: 0 50px;
	}
	.section.reservation .ourTel {
		float: none;
		padding: 0 0 15px 0;
	}
	.section.reservation .data {
		margin-bottom: 0;
	}
	.section.reservation .note {
		float: none;
		margin: 0 0 25px 0;
	}
	.section.reservation .textareaComment {
		margin-bottom: 10px;
	}
	.section.reservation .textareaComment textarea {
		width: 100%;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .img {
		margin-right: 0;
	}
}

@media screen and (max-width: 899px) {
	#googleMap.gMapInContacts {
		height: 300px;
	}

	.pageOneNewsWithImg #all {
		background-size: auto 610px;
	}
	.mainMenu .actLine {
		display: none;
	}
	.pageEvents.innerPage #content {
		padding-top: 0px;
	}
	.bluredBg {
		display: none;
	}
	.sandwich {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 40px;
		top: -72px;
	}
	.sandwich:after {
		content: '';
		display: block;
		width: 30px;
		height: 14px;
		background: url('../img/sprite.png') no-repeat -311px 0;
		position: absolute;
		left: 5px;
		top: 13px;
	}
	.closeMainMenu {
		display: none;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 40px;
		top: -72px;
	}
	.closeMainMenu:after {
		content: '';
		display: block;
		width: 22px;
		height: 24px;
		background: url('../img/sprite.png') no-repeat -341px 0;
		position: absolute;
		left: 9px;
		top: 8px;
	}

	.mainMenu {
		position: absolute;
		right: 0;
		top: 100px;
		z-index: 3;
		width: 100%;
		background: rgba(0,0,0,0.85);
		text-align: center;
	}
	.mainMenu ul {
		line-height: 1;
		padding: 30px 0 36px 0;
		display: none;
	}
	.mainMenu ul li {
		display: block;
		padding: 16px 0;
	}
	.mainMenu ul li a {
		font-size: 32px;
		letter-spacing: -1px;
	}

	.mainMenu.show ul {
		display: block;
	}
	.mainMenu.show .sandwich {
		display: none;
	}
	.mainMenu.show .closeMainMenu {
		display: block;
	}


	.newsCol .item {
		padding: 0 20px;
	}
	.innerPage #main {
		padding-top: 0;
	}
	.innerPage #content {
		padding-top: 50px;
	}
	.pageOneNewsWithImg #content {
		padding-top: 300px;
	}
	.post .postImg {
		margin-right: 0;
		float: none;
		text-align: center;
	}
	.post .postImg img {
		max-width: 100%;
	}

	body {
		font-size: 18px;
		line-height: 22px;
	}

	.post {
		padding: 50px 30px 30px 30px;
	}

	body,
	.homePage {
		background: #fff;
	}
	.sectionTitle {
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		background: #000;
		height: 30px;
		line-height: 30px;
		margin: 30px 30px 30px 30px;
	}

	h1 {
		font-size: 32px;
		padding: 30px;
	}

	.innerHeader,
	.introduction,
	.section,
	.innerPage #content {
		margin-bottom: 0;
	}
	
	.slider {
		height: 490px;
	}
	.slider .innerSlider .sliderItem img {
		height: 100%;
	}

	.slider .data,
	.slider .arrows,
	.sliderDotsMenu,
	.introduction:before,
	.introduction .blockContacts {
		display: none;
	}

	.introductionText {
		margin-left: 0;
	}
	.introductionText .siteDescription {
		padding: 45px 30px 30px 30px;
	}
	.introductionText .siteTitle {
		position: static;
	}
	.introductionText .siteTitle {
		height: auto;
		background: #e5e5e5;
	}
	.innerSiteTitle {
		height: auto;
		padding: 30px;
		font-size: 32px;
		line-height: 36px;
		color: #000;
		letter-spacing: -1px;
	}
	.innerSiteTitle br {
		display: none;
	}

	.partsOfBuilding .sectionContent .item,
	.partsOfBuilding .sectionContent .item:first-child {
		width: 220px;
		height: 220px;
		margin: 0 10px 20px 10px;
	}
	.partsOfBuilding .sectionTitle {
		display: none;
	}

	.news {
		margin-bottom: 40px;
	}
	.news .sectionContent {
		background: #fff;
		border-top: none;
	}
	.news .lastnews .imgLastnews {
		display: block;
		width: 220px;
		margin-right: 20px;
	}
	.news .lastnews .imgLastnews img {
		width: 100%;
	}
	.news .lastnews .contentLastnews .title {
		padding-top: 5px;
		font-size: 36px;
	}
	.news .lastnews .contentLastnews .date {
		margin-bottom: 20px;
	}
	.news .lastnews {
		width: auto;
		height: auto;
		float: none;
		margin: 0 30px 0 30px;
	}
	.news .lastnews .contentLastnews {
		float: none;
		width: auto;
		padding: 0;
	}
	.news .lastnews .contentLastnews .txt {
		height: auto;
	}
	.news .prevLastNews {
		display: none;
	}

	.eventRooms .descEventRooms {
		padding: 50px 30px 0 30px;
	}
	.eventRooms .subdescEventRooms {
		padding: 0 30px 44px 30px;
	}

	.events .sectionContent {
		border-top: none;
	}
	.events .item {
		display: none;
		margin-bottom: 45px;
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.events .sectionContent .listItems {
		margin: 0;
	}
	.events .sectionContent .innerListItems {
		width: auto !important;
		margin-left: 0 !important;
	}
	.events .item.act {
		display: block;
	}
	.events .sectionContent .leftArrow,
	.events .sectionContent .rightArrow,
	.events .sectionContent .leftArrow.act,
	.events .sectionContent .rightArrow.act {
		display: none;
	}

	.events .item {
		width: auto;
		height: auto;
		margin: 0 30px 50px 30px;
	}

	.events .item .itemImg {
		opacity: 1;
		display: block;
		float: none;
		width: 100%;
		position: static;
	}

	.events .item .itemImg img {
		width: 100%;
		height: auto;
	}
	.events .item .itemContent {
		height: auto;
	}
	.events .item:nth-child(even) {
		background: none;
	}
	.events .item .itemContent .title,
	.events .item:nth-child(even) .itemContent .title {
		font-family: 'oswaldextralight';
		font-size: 36px;
		line-height: 36px;
		color: #000;
		position: static;
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		padding: 5px 0 15px 0;
	}
	.events .item .itemContent .dateTime,
	.events .item:hover .itemContent .dateTime {
		position: static;
		padding: 0;
		height: 20px;
		line-height: 20px;
		padding: 0;
		display: block;
		width: auto;
		background: none;
		float: left;
	}

	.events .item .itemContent .title div,
	.events .item:hover .itemContent .title div {
		background: none;
	}

	.events .item:hover .itemContent .title:after,
	.events .item .itemContent .dateTime .time,
	.events .item:hover .itemContent .dateTime .time,
	.events .item.act .itemContent .dateTime .month:after {
		display: none;
	}

	.events .item .itemContent .dateTime .date,
	.events .item .itemContent .dateTime .month,
	.events .item:hover .itemContent .dateTime .date,
	.events .item:hover .itemContent .dateTime .month,
	.events .item.act .itemContent .dateTime .date,
	.events .item.act .itemContent .dateTime .month {
		color: #fff;
		display: inline-block;
		font-size: 12px;
		color: #fff;
		background: none;
		font-weight: 700;
		background: #5c606d;
		float: left;
	}

	.events .item .itemContent .dateTime .date {
		padding: 0 5px 0 10px;
	}

	.events .item .itemContent .dateTime .month {
		padding: 0 10px 0 0;
	}

	.gallery {
		display: none;
	}
	.innerFootContacts {

	}
	.footContacts .part {
		display: block;
		padding-bottom: 25px;
		width: 320px;
		margin: 0 auto;
	}
	.footContacts .part .item {
		font-size: 18px;
		line-height: 22px;
		padding-left: 40px;
	}
	.footContacts .part .item a:before,
	.footContacts .part .item span:before {
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		transform: scale(0.7);
		left: 0;
		margin-top: -2px;
		left: 12px;
	}
	#googleMap {
		height: 270px;
	}

	.eventItem .info .title {
		font-size: 32px;
		line-height: 36px;
	}
	.postDate {
		left: 30px;
	}

	.simpleTextBlock {
		padding: 40px 30px 30px 30px;
	}
	.innerPage #main.pageStyleLikeHome {
		background-color: #fff;
		padding-top: 510px;
		background-size: auto 600px;
	}
	.innerPage #main.pageStyleLikeHome.contactsMain {
		padding-top: 0;
	}
	.innerPage #main.pageStyleLikeHome #content {
		padding-top: 0px;
	}
	.section.coworkingFriendly .itemsCoworkingFriendly {
		text-align: center;
	}

	.priceCategory .body .typePriceCategory,
	.priceCategory .body .typePriceCategory:first-child {
		margin: 0 auto;
		display: block;
	}
	.priceCategory {
		margin: 0 30px;
	}
	.priceCategory .body .notePriceTeam:after {
		width: 200px;
		margin-left: -100px;
	}
	
	.eventRooms .listEventRooms .item {
		margin: 0 10px;
	}
	.roomsDescription {
		margin: 0 30px;
	}
	.roomsDescription .item .txt {
		margin-left: 280px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar {
		padding: 0 50px;
	}
	.arrowReadMore:after {
		display: none;
	}
}


@media screen and (max-width: 767px) {
	.partsOfBuilding .sectionContent .item,
	.partsOfBuilding .sectionContent .item:first-child {
		width: 260px;
		height: 260px;
		margin: 0 auto 20px auto;
		display: block;
	}

	.eventsContainer {
		padding-top: 0;
	}
	.eventItem {
		min-height: initial;
		padding: 30px;
	}
	.eventItem .info {
		margin-left: 0;
	}
	.eventItem .img {
		position: static;
		margin: 0 30px 30px 0;
	}

	.news .lastnews .imgLastnews {
		display: none;
	}

	.section.coworkingFriendly .itemsCoworkingFriendly .item {
		padding-left: 20px;
		padding-right: 20px;
		width: 280px;
	}
	.section.coworkingFriendly .itemsCoworkingFriendly .item .img {
		height: auto;
		padding: 20px 0;
	}
	.roomsDescription .item .img {
		float: none;
		margin: 0 auto 20px auto;
	}
	.roomsDescription .item .txt {
		margin-left: 0;
		margin-bottom: 50px;
	}

	.section.staffBar .listStaffBar .item {
		margin: 0 30px 50px 30px;
		width: 260px;
	}
	

	.section.aboutBar .sectionContent:before {
		display: none;
	}
	.section.aboutBar .txtAboutBar {
		float: none;
		width: auto;
		padding: 0 30px 30px 30px;
	}
	.section.menuBar .contentMenuBar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.section.aboutBar .worktimeAboutBar {
		float: none;
		width: auto;
		padding: 0 50px;
		font-weight: 700;
	}
	.section.aboutBar .worktimeAboutBar .txt br {
		display: none;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .img {
		margin-left: 0;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data {
		float: none;
		width: auto;
	}
	.section.reservation .submit {
		width: 260px;
	}
	.section.reservation .submit input {
		font-size: 16px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage {
		margin-bottom: 50px;
	}
	.section.reservation .sectionContent {
		padding: 30px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar {
		padding: 0 30px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems .txtItem .title {
		padding-right: 100px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .title {
		font-size: 16px;
		margin-bottom: 6px;
	}
	.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .price {
		font-size: 16px;
		float: right;
		margin-top: 0px;
	}
}


@media screen and (max-width: 360px) {
	#header {
		position: static;
		background: #000;
		text-align: center;
		padding: 38px 0 16px 0;
	}
	.logo {
		margin: 0 0 50px 0;
		display: inline-block;
		float: none;
	}
	.mainMenu {
		padding-right: 0;
	}
	.mainMenu.show ul {
		padding-top: 60px;
	}
	.sandwich,
	.closeMainMenu {
		right: 50%;
		top: -12px;
		margin-right: -20px;
	}

}