@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/oswald-extralight-webfont.eot');
    src: url('../fonts/oswald-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-extralight-webfont.woff2') format('woff2'),
         url('../fonts/oswald-extralight-webfont.woff') format('woff'),
         url('../fonts/oswald-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

input {
	/*remove ios default styles for inputs*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*remove ios default border-radous for inputs*/
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

* {
	vertical-align: top;
}

:focus {outline: none;}
input[type="submit"]::-moz-focus-inner {border: none;}
img {border: none;}
html, body{height:100%; width:100%; margin:0; padding:0;}

body {
	font-size: 18px;
	color: #666666;
	line-height: 22px;
	background: #cfccc8;
}

.homePage {

}

.innerPage #all {
	position: relative;
}

p {
	margin: 0;
	padding: 0 0 1em 0;
}

a {
	font-size: inherit;
	font-family: inherit;
	color: #7c868f;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4 {

}

h1 {
	margin: 0;
	padding: 34px 50px;
	background: #000;
	font-family: 'oswaldextralight';
	font-size: 42px;
	color: #fff;
	line-height: 1;
	position: relative;
	z-index: 2;
	background: rgba(0,0,0,0.75);
}

h2 {

}

h3 {

}

h4 {

}

ul, ul li {

}

ul {

}

ul li {

}

ul li a{

}

ol {

}

ol li {

}

input[type="text"],
input[type="password"],
input[type="email"] {
	font-family: proxima-nova,sans-serif;
	font-size: 12px;
}

#all {

}

.arrowReadMore:after {
	content: '';
	width: 0;
	height: 0;
	display: inline-block;
	border-style: solid;
	border-color: transparent transparent transparent #000;
	border-width: 5px 0 5px 8px;
	margin-left: 3px;
}

.clear:after,
.clear:before {
	content: '';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}

.innerHeader,
.introduction,
.section,
.innerPage #content {
	max-width: 1200px;
	margin: 0 auto;
}


.sandwich,
.closeMainMenu {
	display: none;
}

.bgWhite {
	background: #fff;
}

.borderBottomTitle {
	border-bottom: 1px solid #ceccc7;
}

/*****************/
/******HEADER*****/
/*****************/

#header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	line-height: 1;
	background: rgba(0,0,0,0.75);
}

.innerHeader {
	height: 100px;
}

.logo {
	float: left;
	margin: 30px 0 0 50px;
	line-height: 100px;
	font-size: 0;
}

.logo img {
	display: block;
	vertical-align: middle;
	width: 211px;
}

.mainMenu {
	float: right;
	position: relative;
	padding-right: 25px;
}

.mainMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 100px;
	font-size: 0;
}

.mainMenu ul li {
	display: inline-block;
	margin: 0 0 0 25px;
	padding: 0;
	position: relative;
}

.mainMenu ul li:first-child {
	margin-left: 0;
}

.mainMenu ul li a {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	display: block;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.5px;
}

.mainMenu .actLine {
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 5px solid #fff;
	width: 0;
	-webkit-transition: left 500ms ease, width 500ms ease;
	-moz-transition: left 500ms ease, width 500ms ease;
	transition: left 500ms ease, width 500ms ease;
}


/*****************/
/*****CONTENT*****/
/*****************/

#main {
	padding-top: 210px;
	padding-bottom: 80px;
}

.homePage #main {
	padding-top: 0;
	padding-bottom: 0;
}

#content {

}

.contentMainPart {
	background: #fff;
	padding-bottom: 270px;
	position: relative;
}

.section {
	margin-bottom: 20px;
	line-height: 1;
}

.sectionTitle {
	background: #fff;
	font-size: 36px;
	color: #333333;
	text-transform: uppercase;
	text-align: center;
	height: 70px;
	line-height: 74px;
	font-weight: 700;
}

.sectionContent:after {
	content: '';
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
}


/****** SLIDER ******/
.slider {
	height: 750px;
	/*overflow: hidden;*/
	position: relative;
}

.innerSlider {
	position: relative;
	height: 100%;
}

.slider .innerSlider .sliderItem {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	/*background: #333;*/

	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider .innerSlider .sliderItem.act {
	opacity: 1;
}

.sliderDotsMenu {
	position: absolute;
	left: 50%;
	bottom: 194px;
	margin-left: -350px;
}

.sliderDotsMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.sliderDotsMenu ul li {
	margin: 0;
	padding: 0;
	width: 14px;
	height: 14px;
	background: rgba(0,0,0,0.2);
	border-radius: 50%;
	margin-right: 22px;
	cursor: pointer;
	float: left;
}

.sliderDotsMenu ul li.act {
	background: #fff;
}

.slider .arrows {
	position: absolute;
	left: 50%;
	bottom: 150px;
	margin-left: -600px;
}

.slider .arrows div {
	width: 100px;
	height: 100px;
	display: block;
	cursor: pointer;
	float: left;
}

.slider .arrows div:hover {
	background-color: rgba(36,40,51,0.8);
}

.slider .arrows div:before {
	content: '';
	background: url('../img/sprite.png') no-repeat left top;
	width: 26px;
	height: 42px;
	display: block;
}

.slider .arrows .leftArrow:before {
	background-position: -26px 0px;
	margin: 30px 0 0 34px;
}

.slider .arrows .rightArrow:before {
	background-position: 0px 0px;
	margin: 30px 0 0 39px;
}

.slider .data {
	background: rgba(36,40,51,0.8);
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 400px;
	height: 150px;
	margin-left: -600px;
}

.slider .data .title {
	font-family: 'oswaldlight';
	font-size: 42px;
	color: #fff;
	display: block;
	padding: 38px 0 0 48px;
	line-height: 1;
}

/****** INTRODUCTION ******/
.introduction {
	line-height: 1;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	background: #fff;
}

.introduction:after {
	content: '';
	clear: both;
	display: block;
    height: 0;
}

.introduction:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 100%;
	z-index: 1;
	background: #5c606d;
}

.introduction .blockContacts {
	float: left;
	width: 320px;
	padding: 56px 32px 0 48px;
	color: #fff;
	position: relative;
	z-index: 2;
}

.introduction .blockContacts .blockContactsText {
	padding: 0 0 48px 0;
}

.introduction .blockContacts .blockContactsText ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.introduction .blockContacts .blockContactsText ul li {
	margin: 0;
	padding: 20px 0 0 50px;
	font-size: 18px;
	color: #fff;
}

.introduction .blockContacts .blockContactsText ul li a,
.introduction .blockContacts .blockContactsText ul li span {
	font-size: inherit;
	color: inherit;
	text-decoration: none;
	position: relative;
}

.introduction .blockContacts .blockContactsText ul li a:before,
.introduction .blockContacts .blockContactsText ul li span:before {
	content: '';
	position: absolute;
	left: -50px;
	top: 0;
	background: url('../img/sprite.png') no-repeat left top;
	display: block;
}

.introduction .blockContacts .blockContactsText ul li .icon_location:before {
	background-position: -52px 0;
	width: 15px;
	height: 20px;
	top: 1px;
}

.introduction .blockContacts .blockContactsText ul li .icon_tel:before {
	background-position: -67px 0;
	width: 18px;
	height: 18px;
	top: 1px;
}

.introduction .blockContacts .blockContactsText ul li .icon_mail:before {
	background-position: -85px 0;
	width: 17px;
	height: 13px;
	top: 5px;
}

.introduction .blockContacts .blockContactsText ul li:first-child {
	padding-top: 0;
}

.introduction .blockContacts .social {
	padding: 0 16px 25px 0;
	text-align: center;
}

.introduction .blockContacts .social ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.introduction .blockContacts .social ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

.introduction .blockContacts .social ul li a {
	text-decoration: none;
	background: url('../img/sprite.png') no-repeat left top;
	display: block;
	cursor: pointer;
}

.introduction .blockContacts .social ul li:first-child {
	margin-left: 0;
}

.introduction .blockContacts .social .icon_fb {
	background-position: -102px 0;
	width: 11px;
	height: 25px;
}

.introduction .blockContacts .social .icon_tw {
	background-position: -113px 0;
	width: 23px;
	height: 18px;
}

.introduction .blockContacts .social .icon_pi {
	background-position: -136px 0;
	width: 17px;
	height: 22px;
}

.introduction .blockContacts .social .icon_location {
	background-position: -52px 0;
	width: 15px;
	height: 20px;
	margin-top: 1px;
}

.introduction .blockContacts .social .icon_instagram {
	background: url('../img/icon_instagram.svg') no-repeat left top;
	width: 18px;
	height: 18px;
	background-size: contain;
}

.introduction .blockContacts .social .icon_vk {
	background: url('../img/icon_vk.svg') no-repeat left top;
	width: 24px;
	height: 14px;
	background-size: contain;
}

.introductionText {
	margin-left: 400px;
	position: relative;
}

.introductionText .siteTitle {
	background: rgba(0,0,0,0.75);
	height: 150px;
	position: absolute;
	top: -150px;
	left: 0;
	width: 100%;
}

.innerSiteTitle {
	overflow: hidden;
	font-family: 'oswaldlight';
	font-size: 42px;
	color: #fff;
	height: 86px;
	display: block;
	letter-spacing: -2px;
	line-height: 1;
	padding: 34px 34px 0 34px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.introductionText .siteDescription {
	font-size: 18px;
	color: #666666;
	padding: 38px 34px 40px 34px;
	line-height: 22px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.introductionText .siteDescription p {
	margin: 0;
	padding: 0 0 1em 0;
	display: inline;
}


/****** PARTS_OF_BUILDING ******/
.partsOfBuilding {

}

.partsOfBuilding .sectionContent {
	background: #fff;
	text-align: center;
	font-size: 0;
}

.partsOfBuilding .sectionContent .item {
	position: relative;
	width: 375px;
	height: 375px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	margin: 0 0 14px 14px;
	cursor: pointer;
}

.partsOfBuilding .sectionContent .item:nth-child(3n+1) {
	margin-left: 0;
}

.partsOfBuilding .sectionContent .item .itemImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.partsOfBuilding .sectionContent .item .itemImg img {
	display: block;
	height: 100%;
	width: 100%;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg:before {
	content: '';
	height: 0;
	display: block;
	overflow: hidden;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg .itemTitle {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	padding: 12px 0 8px 0;
	margin-top: 126px;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg .itemDesc {
	padding: 37px 37px 0 37px;
	background: rgba(0,0,0,0.65);
	height: 162px;
	text-align: left;
	-webkit-transition: margin 0.2s linear;
	-moz-transition: margin 0.2s linear;
	transition: margin 0.2s linear;
	margin-top: 100%;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg .itemDesc .txt {
	font-size: 18px;
	color: #fff;
	line-height: 21px;
	overflow: hidden;
	height: 84px;
}

.partsOfBuilding .sectionContent .item .itemLayerOverImg .itemDesc .readMore {
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 28px 0 0 0;
	display: block;
}

.partsOfBuilding .sectionContent .item:hover .itemLayerOverImg .itemTitle {
	background: #000;
}

.partsOfBuilding .sectionContent .item:hover .itemLayerOverImg .itemDesc {
	margin-top: 0;
}


/***** NEWS ******/
.news {

}

.news .sectionContent {
	border-top: 1px solid #cfccc8;
	background: #faf8f1;
}

.news .lastnews {
	float: left;
	width: 800px;
	background: #fff;
	display: block;
	text-decoration: none;
	height: 400px;
}

.news .lastnews .imgLastnews {
	float: left;
	background: #fff;
	max-width: 400px;
}

.news .lastnews .imgLastnews img {
	width: 400px;
	max-width: 100%;
}

.news .lastnews .contentLastnews {
	padding: 50px 50px 0 50px;
	width: 300px;
	float: left;
}

.news .lastnews .contentLastnews .title {
	display: block;
	font-family: 'oswaldextralight';
	font-size: 42px;
	color: #000;
	margin-bottom: 15px;
	max-height:	85px;
    overflow: hidden;
}

.news .lastnews .contentLastnews .date {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	background: #5c606d;
	height: 20px;
	line-height: 21px;
	padding: 0 10px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.news .lastnews .contentLastnews .txt {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	overflow: hidden;
	height: 128px;
}

.news .prevLastNews {
	float: left;
	width: 400px;
}

.news .prevLastNews .item {
	margin: 0 10px;
	padding: 0 40px;
	border-top: 1px solid #edebe5;
	text-decoration: none;
	display: block;
}

.news .prevLastNews .item:first-child {
	border-top: none;
}

.news .prevLastNews .item .title {
	display: block;
	font-size: 24px;
	color: #000;
	line-height: 24px;
	font-weight: 700;
	padding-top: 22px;
	margin-bottom: 6px;
	max-height: 48px;
	overflow: hidden;
}

.news .prevLastNews .item .date {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	background: #5c606d;
	height: 20px;
	line-height: 21px;
	padding: 0 10px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.news .prevLastNews .item .txt {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	margin-bottom: 24px;
	height: 64px;
	overflow: hidden;
}


/***** EVENTS ******/
.events {

}

.events .sectionContent {
	border-top: 1px solid #cfccc8;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.events .sectionContent .listItems {
	position: relative;
	z-index: 1;
	overflow: hidden;
	
}

.events .sectionContent .innerListItems {
	width: 10000px;
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
}

.events .sectionContent .leftArrow,
.events .sectionContent .rightArrow {
	position: absolute;
	top: 50%;
	width: 56px;
	height: 56px;
	margin-top: -28px;
	background: rgba(0,0,0,0.2);
	z-index: 2;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: none;
}

.events .sectionContent .leftArrow.act,
.events .sectionContent .rightArrow.act {
	display: block;
}

.events .sectionContent .leftArrow {
	left: -28px;
}

.events .sectionContent .rightArrow {
	right: -28px;
}

.events .sectionContent .leftArrow:before,
.events .sectionContent .rightArrow:before {
	content: '';
	position: absolute;
	top: 16px;
	width: 16px;
	height: 26px;
	display: block;
	background: url('../img/sprite.png') no-repeat left top;
}

.events .sectionContent .leftArrow:before {
	background-position: -279px 0;
	left: 50%;
	margin-left: 2px;
}

.events .sectionContent .rightArrow:before {
	background-position: -295px 0;
	left: 50%;
	margin-left: -18px;
}

.events .item {
	width: 200px;
	height: 380px;
	overflow: hidden;
	float: left;
	position: relative;
	display: block;
	text-decoration: none;
}

.events .item:nth-child(even) {
	background: #f7f7f7;
}

.events .item:nth-child(even) .itemContent .title {
	top: 40%;
	-webkit-transform: translateY(-40%);
	-moz-transform: translateY(-40%);
	transform: translateY(-40%);
}

.events .item .itemImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.events .item .itemImg img {
	height: 100%;
}

.events .item .itemContent {
	position: relative;
	z-index: 2;
	height: 100%;
}

.events .item .itemContent .title {
	display: block;
	padding: 0 10px;
	font-size: 18px;
	color: #000;
	line-height: 21px;
	font-weight: 700;
	position: relative;
	top: 20px;
}

.events .item .itemContent .title div {
	display: inline;
	position: relative;
	left: 10px;
	z-index: 2;
}

.events .item .itemContent .title div span {
	position: relative;
	left: -10px;
}

.events .item .itemContent .title:after {
	content: '';
	position: absolute;
	left: 0;
	top: -1px;
	padding-bottom: 1px;
	width: 20px;
	height: 100%;
	background: #000;
	display: none;
}

.events .item:hover .itemImg {
	opacity: 1;
}

.events .item:hover .itemContent .title {
	color: #fff;
}

.events .item:hover .itemContent .title:after {
	display: block;
}

.events .item:hover .itemContent .title div {
	background: #000;
}

.events .item .itemContent .dateTime {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.events .item .itemContent .dateTime .date {
	display: block;
	padding: 0 0 0 10px;
	font-size: 72px;
	color: #bfbfbf;
	font-weight: 800;
	margin-bottom: -8px;
}

.events .item.act .itemContent .dateTime .date {
	color: #000;
}

.events .item .itemContent .dateTime .month {
	display: block;
	padding: 9px 0 7px 10px;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	position: relative;
}

.events .item.act .itemContent .dateTime .month {
	background: #000;
	color: #fff;
}

.events .item.act .itemContent .dateTime .month:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	border-color: transparent transparent #000 transparent;
	border-style: solid ;
	border-width: 0 7px 7px 7px;
	position: absolute;
	bottom: 100%;
	left: 50%;
}

.events .item .itemContent .dateTime .time {
	display: block;
	padding: 14px 15px 0 0;
	float: right;
	font-family: 'PT Mono', sans-serif;
	font-size: 14px;
	color: #000;
	font-size: 17px;
	letter-spacing: -1px;
	display: none;
}

.events .item .itemContent .dateTime .time span {
	display: inline-block;
	vertical-align: top;
	width: 22px;
}

.events .item:hover .itemContent .dateTime {
	background: #000;
}

.events .item:hover .itemContent .dateTime .time,
.events .item:hover .itemContent .dateTime .date,
.events .item:hover .itemContent .dateTime .month {
	color: #fff;
	display: block;
}

/***** GALLERY ******/
.gallery {

}

.gallery .sectionContent {

}

.gallery .sectionContent .part {
	margin-bottom: 20px;
}

.gallery .sectionContent .part:last-child {
	margin-bottom: 0;
}

.gallery .sectionContent .part:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
}

.gallery .sectionContent .part img {
	display: block;
	width: 100%;
}

.gallery .sectionContent .part .bigImg {
	position: relative;
	float: right;
	width: 800px;
	height: 500px;
	overflow: hidden;
}

.gallery .sectionContent .part .smallImages {
	float: left;
}

.gallery .sectionContent .part .smallImg {
	position: relative;
	margin-bottom: 20px;
	width: 380px;
	height: 240px;
	overflow: hidden;
}

.gallery .sectionContent .part .smallImg:last-child {
	margin-bottom: 0;
}

.gallery .sectionContent .part:nth-child(even) .bigImg {
	float: left;
}

.gallery .sectionContent .part:nth-child(even) .smallImages {
	float: right;
}

.gallery .sectionContent .part .bigImg .txt,
.gallery .sectionContent .part .smallImg .txt {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	background: rgba(0,0,0,0.7);
	font-weight: 300;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.gallery .sectionContent .part .bigImg .txt {
	padding: 40px 0;
}

.gallery .sectionContent .part .smallImg .txt {
	padding: 10px 0;
}

.gallery .sectionContent .part .bigImg:hover .txt,
.gallery .sectionContent .part .smallImg:hover .txt {
	opacity: 1;
}

/***** INNER_PAGE ******/
.post {
	position: relative;
	padding: 67px 50px 50px 50px;
}

.post .postImg {
	float: left;
	margin: 0 50px 30px 0;
}

.post .postTxt {
	
}

.postDate {
	display: block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	background: #000;
	height: 20px;
	line-height: 21px;
	padding: 0 10px;
	text-transform: uppercase;
	position: absolute;
	left: 50px;
	top: 0;
}

/******** PAGE_ONE_NEWS *********/

.pageOneNewsWithImg #all {
	padding-top: 640px;
	background-repeat: no-repeat;
	background-position: center top;
}

.newsCol {
	float: right;
	width: 300px;
}

.pageOneNews .newsCol:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	height: calc(100% - 270px);
	background: #faf8f1;
}



.pageOneNews .post {
	width: 800px;
	position: relative;
	z-index: 2;
	float: left;
}

.newsCol .item {
	margin: 0 10px;
	padding: 0 10px 0 35px;
	border-top: 1px solid #edebe5;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 2;
}

.newsCol .item:first-child {
	border-top: none;
	padding-top: 37px;
}

.newsCol .item .title {
	display: block;
	font-family: 'oswaldlight';
	font-size: 30px;
	color: #000;
	line-height: 32px;
	padding-top: 30px;
	margin-bottom: 10px;
}

.newsCol .item .date {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	background: #5c606d;
	height: 20px;
	line-height: 21px;
	padding: 0 10px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.newsCol .item .txt {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	margin-bottom: 24px;
}


/***** ALL_EVENTS ******/

.bluredBg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 860px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: 0.7;
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.bluredBg:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 330px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,343434+100&amp;0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(52,52,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}

.eventsContainer {
	padding: 90px 0 0 0;
}

.eventItem {
	padding: 0 50px 50px 50px;
	display: block;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	min-height: 250px;
}

.eventItem .img {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50px;
	top: 0;
	overflow: hidden;
}

.eventItem .img img {
	max-height: 100%;
}

.eventItem .info {
	margin-left: 300px;
}

.eventItem .info .title {
	font-family: 'oswaldlight';
	font-size: 42px;
	color: #000;
	line-height: 48.5px;
	display: block;
	margin-bottom: 13px;
	word-break: break-word;
}

.eventItem .info .date {
	font-weight: 700;
	font-size: 13px;
	color: #000;
	display: block;
	text-transform: uppercase;
	display: inline-block;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 24px;
	line-height: 24px;
	margin-bottom: 28px;
}

.eventItem .info .txt {
	font-size: 18px;
	color: #333;
	line-height: 22px;
	display: block;
	word-break: break-word;
}

.eventItem .info .txt p {
	display: inline;
}


/***** coworkingPage ******/

.simpleTextBlock {
	background: #fff;
	padding: 67px 50px 50px 50px;
	margin-bottom: 20px;
}

.innerPage #main.coworkingMain {
	padding-top: 750px;
	background-image: url('../img/coworking_banner.jpg');
}

.innerPage #main.contactsMain {
	padding-top: 0;
}

.innerPage #main.pageStyleLikeHome {
	background-color: #cfccc8;
	padding-bottom: 0;
	background-repeat: no-repeat;
	background-position: center top;
}

.innerPage .pageStyleLikeHome #content {
	position: relative;
}

.innerPage #main.pageStyleLikeHome #content h1 {
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/* popup pay coworking */
.popupPayCoworking {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
}

.popupPayCoworking.show {
	display: block;
}

.popupPayCoworking .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.popupPayCoworking .popup {
	position: absolute;
	left: 50%;
	top: 50%;
	background: #fff;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 24px 20px 20px 20px;
	width: 410px;
	max-width: 90%;
	border: 1px solid rgba(153,153,153,0.35);
	box-shadow: 0 0 4px rgba(0,0,0,0.25);
	letter-spacing: -0.5px;
}

.popupPayCoworking .popup .title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	color: #000;
	margin-bottom: 36px;
}

.popupPayCoworking .popup .label {
	font-weight: 700;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.popupPayCoworking .popup input[type="text"],
.popupPayCoworking .popup input[type="email"],
.popupPayCoworking .popup input[type="date"] {
	width: 100%;
	border: 1px solid #dddddd;
	padding: 11px 7px 9px 7px;
	margin: 0;
	height: 34px;
	line-height: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 2px 2px #f0f0f0;
}

.popupPayCoworking .popup .date {
	font-size: 0;
	margin-bottom: 23px;
}

.popupPayCoworking .popup .date .item {
	
}


.popupPayCoworking .popup .phone {
	margin-bottom: 18px;
	font-size: 0;
}

.popupPayCoworking .popup .phone .prefixPhone,
.popupPayCoworking .popup .phone input {
	font-weight: 300;
	font-size: 24px;
	color: #000;
	height: 32px;
	line-height: 32px;
	padding-top: 2px;
	padding-bottom: 0;
	letter-spacing: -1.2px;
}

.popupPayCoworking .popup .phone .prefixPhone {
	display: inline-block;
	vertical-align: middle;
	padding-left: 7px;
	padding-right: 10px;
}

.popupPayCoworking .popup .phone .codePhone {
	display: inline-block;
	vertical-align: middle;
	width: 58px;
	margin-right: 10px;
}

.popupPayCoworking .popup .phone .numbPhone {
	display: inline-block;
	vertical-align: middle;
	width: 114px;
}

.popupPayCoworking .popup .name {
	margin-bottom: 24px;
}

.popupPayCoworking .popup .email {
	margin-bottom: 34px;
}


.popupPayCoworking .popup .btns {
	font-size: 0;
}

.popupPayCoworking .popup .btns .btn {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 47px;
	line-height: 47px;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}

.popupPayCoworking .popup .btns .btn.btnOk {
	color: #336600;
	border-color: #7a955f;
	border-left-color: #787878;
}

.popupPayCoworking .popup .btns .btn.btnCancel {
	color: #999999;
	border-color: #c9c9c9;
	border-right: none;
}










.section.pricing .sectionTitle {
	border-bottom: 1px solid #dddad7;
}

.section.pricing .sectionContent {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 40px;
}

.priceCategory {
	margin: 0 50px;
}

.priceCategory .head {
	text-align: center;
	padding: 20px 0;
}

.priceCategory .head .img {

}

.priceCategory .head .title {
	font-weight: 700;
	font-size: 28px;
	color: #333333;
	line-height: 1;
	padding-top: 20px;
}

.priceCategory .body {
	text-align: center;
	font-size: 24px;
	color: #333333;
}

.priceCategory .body .typePriceCategories {
	font-size: 0;
}

.priceCategory .body .typePriceCategory {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 100px;
	padding-top: 50px;
}

.priceCategory .body .typePriceCategory:first-child {
	margin-left: 0;
}

.priceCategory .body .typePriceCategory .title {
	display: block;
	font-weight: 700;
	font-size: 24px;
	color: #333333;
	line-height: 1;
}

.priceCategory .body .typePriceCategory .countPeople {
	display: block;
	font-weight: 700;
	font-size: 18px;
	color: #333333;
	line-height: 1;
	padding-top: 7px;
}

.priceCategory .body .typePriceCategory .table {
	padding-top: 10px;
}

.priceCategory .body .typePriceCategory .table table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.priceCategory .body .typePriceCategory .table table tr,
.priceCategory .body .typePriceCategory .table table tr td {
	margin: 0;
	padding: 0;
}

.priceCategory .body .typePriceCategory .table table tr td {
	text-align: left;
	padding: 15px 0;
	font-size: 24px;
	color: #333;
	width: 110px;
}

.priceCategory .body .typePriceCategory .table table tr td:first-child {
	text-align: right;
}

.priceCategory .body .typePriceCategory .table table tr td:nth-child(2) {
	width: 40px;
	text-align: center;
}

.priceCategory .body .typePriceCategory .table table tr.border td {
	border-top: 1px solid #ccc;
	padding-top: 40px;
}

.priceCategory .body .typePriceCategory .table table tr td[colspan="3"] {
	text-align: center;
	padding-top: 5px;
}

.priceCategory .body .typePriceCategory .table table tr td[colspan="3"] .btnPayCoworking {
	margin-bottom: 40px;
}

.btnPayCoworking {
	height: 26px;
	line-height: 28px;
	border: 1px solid #336600;
	display: inline-block;
	padding: 0 8px;
	font-weight: 700;
	font-size: 16px;
	color: #336600;
	text-transform: uppercase;
	cursor: pointer;
}

.btnPayCoworking:hover {
	background: #336600;
	color: #fff;
}


.priceCategory .body .teamPricing {
	margin-bottom: 34px;
}

.priceCategory .body .titlePriceTeam {
	padding: 30px 0 17px 0;
}

.priceCategory .body .notePriceTeam {
	font-size: 18px;
	padding-bottom: 16px;
	position: relative;
}

.priceCategory .body .notePriceTeam2 {
	font-size: 16px;
	padding: 20px 0 30px 0;
	position: relative;
}

.grayLine {
	width: 300px;
	max-width: 100%;
	height: 1px;
	background: #ccc;
	display: block;
	margin: 54px auto 4px auto;
}



.section.services .sectionContent {
	background: #fff;
}

.section.services .sectionContent .subtitleServices {
	font-weight: 700;
	font-size: 27px;
	color: #333333;
	padding: 10px 0 50px 0;
}

.section.services .sectionContent .itemsServices {
	max-width: 1000px;
	margin: 0 auto;
	font-size: 0;
	padding: 60px 0 30px 0;
	text-align: center;
}

.section.services .sectionContent .itemsServices .item {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 50px 0;
	width: 200px;
}

.section.services .sectionContent .itemsServices .item .img {
	font-size: 0;
}

.section.services .sectionContent .itemsServices .item .title {
	font-size: 18px;
	color: #333;
	line-height: 21px;
	padding-top: 26px;
}








.section.coworkingFriendly .sectionTitle {
	border-bottom: 1px solid #dddad7;
}

.section.coworkingFriendly .sectionContent {
	background: #fff;
}

.section.coworkingFriendly .descriptionCoworkingFriendly {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	padding: 35px 20px 0 20px;
}

.section.coworkingFriendly .itemsCoworkingFriendly {
	font-size: 0;
	padding-top: 80px;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding: 0 50px 90px 50px;

}

.section.coworkingFriendly .itemsCoworkingFriendly .item .city {
	font-size: 24px;
	font-weight: 700;
	color: #333333;
	line-height: 1;
	text-transform: uppercase;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .space {
	font-size: 24px;
	color: #333333;
	line-height: 1;
	text-transform: uppercase;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .img {
	height: 270px;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .img img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 220px;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .img:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .itemContacts {
	font-size: 18px;
	color: #333;
	line-height: 21px;
}

.section.coworkingFriendly .itemsCoworkingFriendly .item .itemContacts a {
	color: #000000;
}

.section.coworkingMap .sectionTitle {
	border-bottom: 1px solid #dddad7;
}

.section.coworkingMap .sectionContent {
	background: #fff;
	text-align: center;
	padding: 80px 0 40px 0;
}

.section.coworkingMap .sectionContent .mapWrapper {
	padding: 0 30px 50px 30px;
}

.section.coworkingMap .sectionContent .mapWrapper .subtitleCoworking {
	display: block;
	font-weight: 700;
	font-size: 27px;
	color: #333333;
	padding: 0 0 0px 0;
}

.section.coworkingMap .sectionContent .mapWrapper img {
	max-width: 100%;
	display: inline-block;
}






/************ eventzone ************/


.innerPage #main.eventzoneMain {
	padding-top: 750px;
	background-image: url('../img/coverEventzone.jpg');
}

.eventRooms {

}

.eventRooms .descEventRooms {
	text-align: center;
	padding: 50px 50px 0 50px;
	font-size: 24px;
	color: #333333;
}

.eventRooms .subdescEventRooms {
	padding: 0 50px 44px 50px;
}

.eventRooms .listEventRooms {
	font-size: 0;
	text-align: center;
	padding: 0 0 22px 0;
}

.eventRooms .listEventRooms .item {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 50px;
}

.eventRooms .listEventRooms .item .title {
	font-size: 18px;
	color: #333333;
	line-height: 21px;
	padding: 0 0 40px 0;
}

.eventRooms .listEventRooms .item .img {
	padding: 0 0 22px 0;
	height: 193px;
}

.eventRooms .listEventRooms .item .moreDetails {
	padding: 0 0 22px 0;
}

.eventRooms .listEventRooms .item .moreDetails a {
	font-size: 14px;
	color: #000;
}

.eventzoneMain .section.services .sectionContent .itemsServices {
	
}

.eventzoneMain .section.services .sectionContent .itemsServices .item {
	width: 300px;
}

.roomsDescription {
	margin: 0 50px;
}

.roomsDescription .item {
	min-height: 300px;
}

.roomsDescription .item .img {
	float: left;
	width: 250px;
	height: 250px;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: left top;
}

.roomsDescription .item .txt {
	margin-left: 300px;
	font-size: 18px;
	color: #333333;
	line-height: 21px;
}

.roomsDescription .item .txt .name {
	font-size: 24px;
	font-weight: 700;
	vertical-align: bottom;
}

.roomsDescription .item .txt p {
	font-size: inherit;
	color: inherit;
	margin: 0;
	padding: 0 0 1em 0;
}


.services .priceCategory {
	padding-bottom: 50px;
}

.txtHelpPricing {
	font-size: 14px;
	color: #333333;
	text-align: center;
	padding: 5px 10px 30px 10px;
}

.plansAndPhotosEventRooms {

}

.plansAndPhotosEventRooms .item {
	position: relative;

}

.plansAndPhotosEventRooms .item .title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #fff;

}

.plansAndPhotosEventRooms .item .img img {
	width: 100%;
}

.plansAndPhotosEventRooms .item .map {
	float: left;
	width: 750px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.plansAndPhotosEventRooms .item .map img {
	max-width: 100%;
}

.bgTransparentRed {
	background: rgba(204,0,0,0.5);
}

.bgTransparentBlue {
	background: rgba(51,51,204,0.5);
}

.bgTransparentGreen {
	background: rgba(102,153,0,0.5);
}

.plansAndPhotosEventRooms .item .lastEvent {
	padding: 50px 0 50px 50px;
	width: 350px;
	float: left;
}

.plansAndPhotosEventRooms .item .lastEvent .titleLastEvent {
	font-size: 18px;
	line-height: 18px;
	color: #000;
	padding-bottom: 18px;
}

.plansAndPhotosEventRooms .item .lastEvent .imgLastEvent {
	padding-bottom: 25px;
}

.plansAndPhotosEventRooms .item .lastEvent .imgLastEvent img {
	width: 100%;
}

.plansAndPhotosEventRooms .item .lastEvent .txtLastEvent {
	font-size: 16px;
	line-height: 20.3px;
	color: #666666;
	overflow: hidden;
	height: 42px;
}

.ourClients {

}

.listOurClients {
	text-align: center;
}

.listOurClients .item {
	display: inline-block;
	vertical-align: middle;
	padding: 50px 20px;
}





/**************** BAR  *****************/
.innerPage #main.barMain {
	padding-top: 750px;
	background-image: url('../img/bar_banner.jpg');
}

.section.aboutBar {

}

.section.aboutBar .sectionContent {
	position: relative;
}

.section.aboutBar .sectionContent:before {
	content: '';
	position: absolute;
	right: 33.3%;
	top: 0;
	height: 100%;
	border-left: 1px solid #ceccc7;

}

.section.aboutBar .txtAboutBar {
	float: left;
	width: 66.6%;
	padding: 70px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
}

.section.aboutBar .worktimeAboutBar {
	float: left;
	width: 31.3%;
	text-align: center;
	padding: 30px 1% 24px 1%;
}

.section.aboutBar .worktimeAboutBar .txt {
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	padding: 14px 0 26px 0;
	position: relative;
}

.section.aboutBar .worktimeAboutBar .txt:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -7.5px;
	width: 15px;
	height: 21px;
	display: block;
	background: url('../img/sprite.png') no-repeat -363px top;
}

.section.staffBar {

}

.section.staffBar .listStaffBar {
	font-size: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

.section.staffBar .listStaffBar .item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 0 25px 50px 25px;
	background: #f7f7f7;
	padding-bottom: 12px;
}

.section.staffBar .listStaffBar .item .img {
	margin-bottom: 20px;
}

.section.staffBar .listStaffBar .item .img img {
	max-width: 100%;
}

.section.staffBar .listStaffBar .item .workPosition {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
}

.section.staffBar .listStaffBar .item .name {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
	font-weight: bold;
}

.section.staffBar .listStaffBar .item .desc {
	display: block;
	font-size: 18px;
	color: #666666;
	line-height: 21px;
}

.section.menuBar {

}

.section.menuBar .sectionContent {
	position: relative;
}

.section.menuBar .sectionContent:before {
	content: '';
	position: absolute;
	right: 400px;
	top: 0;
	width: 0;
	height: 100%;
	display: block;
	border-left: 1px solid #dddad7;
}

.section.menuBar .contentMenuBar {
	float: left;
	width: 800px;
	padding: 60px 0;
}

.section.menuBar .contentMenuBar .categoryMenuBar {
	padding: 0 0 0 50px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .titleCategoryMenuBar {
	font-size: 22px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 20px 0;
	cursor: pointer;
}

.section.menuBar .contentMenuBar .categoryMenuBar .titleCategoryMenuBar:after {
	content: '';
	border-style: solid;
	border-color: transparent transparent transparent #000;
	border-width: 5px 8px;
	margin: -6px 0 0 10px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: -webkit-transform 0.1s linear;
	-moz-transition: -moz-transform 0.1s linear;
	transition: transform 0.1s linear;
	-webkit-transform-origin: 5px 5px;
	-moz-transform-origin: 5px 5px;
	transform-origin: 5px 5px;
	width: 0;
	height: 0;
}

.section.menuBar .contentMenuBar .categoryMenuBar .titleCategoryMenuBar.act:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar {
	height: 0;
	overflow: hidden;
}

.section.menuBar .contentMenuBar .categoryMenuBar .titleCategoryMenuBar.act + .bodyCategoryMenuBar {
	height: auto;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems {
	padding-bottom: 70px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems .txtItem {
	font-size: 18px;
	color: #231f20;
	line-height: 21px;
	padding-bottom: 20px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems .txtItem .price {
	float: right;
	font-weight: 700;
	padding-right: 12px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems .txtItem .title {
	display: block;
	font-weight: 700;
	border-bottom: 1px solid #dddad7;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listTxtItems .txtItem .desc {
	display: block;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage {
	margin-bottom: 25px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .img {
	margin-right: 15px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .img img {
	width: 100%;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .composition {
	font-size: 18px;
	color: #000;
	display: block;
	line-height: 1;
	padding-top: 8px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .desc {
	display: none;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data {
	padding-top: 6px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .title {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 7px;
	padding: 0 10px;
	line-height: 1;
	vertical-align: middle;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .title div:before {
	content: '';
	position: absolute;
	left: -20px;
	top: 0;
	padding-bottom: 0;
	width: 20px;
	height: 100%;
	background: #000;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .title div {
	background: #000;
	display: inline;
	position: relative;
	left: 10px;
	z-index: 2;
	padding: 4px 0;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .title div span {
	position: relative;
	left: -10px;
}

.section.menuBar .contentMenuBar .categoryMenuBar .bodyCategoryMenuBar .listBeautifulItems .itemWithImage .data .price {
	font-size: 24px;
	color: #000;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	margin-top: -6px;
}



.section.menuBar .rightSidebarMenuBar {
	float: left;
	width: 400px;
	padding: 24px 0 0 0;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar {
	padding: 0 50px;
	border-bottom: 1px solid #dddad7;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .h2 {
	font-size: 24px;
	color: #000;
	font-weight: 700;
	display: block;
	text-align: center;
	padding: 36px 0 24px 0;
	text-transform: uppercase;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item {
	position: relative;
	padding-bottom: 44px;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .txt {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;

}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .txt .title {
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	color: #fff;
	line-height: 20px;
	padding: 25px 20px;
	display: block;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .txt .price {
	background: #000;
	display: inline-block;
	background: #000;
	font-size: 18px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .img {
	margin-bottom: 12px;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .img img {
	max-width: 100%;
}

.section.menuBar .rightSidebarMenuBar .moduleRightSidebarMenuBar .item .desc {
	font-size: 15px;
	line-height: 20px;
	color: #333333;
	display: block;
}

.section.reservation {

}

.section.reservation .sectionContent {
	padding: 50px 50px 30px 50px;
}

.section.reservation .select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.section.reservation .select:before {
	content: '';
	position: absolute;
	right: 10px;
	top: 15px;
	border-width: 5px 3px 0 3px;
	border-color: #333 transparent transparent transparent;
	border-style: solid;
}

.section.reservation .select select {
	width: 150px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 0;
	-webkit-appearance: initial;
	background: #fff;
	padding-left: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
	position: relative;
	z-index: 2;
}

.section.reservation .data {
	margin-bottom: 18px;
	font-size: 0;
}

.section.reservation .data .numberPeople {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
}

.section.reservation .data .date {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}

.section.reservation .data .date label {
	width: 33px;
	height: 33px;
	border: 1px solid #cccccc;
	border-right: none;
	display: inline-block;
	text-align: center;
}

.section.reservation .data .date label:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 9px 0 0 0;
	background: url('../img/sprite.png') no-repeat -378px 0;
}

.section.reservation .data .date input {
	width: 195px;
}

.section.reservation .data .time {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	width: 121px;
	margin-bottom: 20px;
}

.section.reservation .data .time label {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background: url('../img/sprite.png') no-repeat -393px 0;
}

.section.reservation .data .time input {
	width: 70px;
	vertical-align: middle;
	margin-left: 9px;
	width: 96px;
	padding-right: 0;
}

.section.reservation .data .name {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px 20px 0;
}

.section.reservation .data .name label {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}

.section.reservation .data .name input {
	width: 200px;
}

.section.reservation .data .phone {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}

.section.reservation .data .phone label {
	width: 115px;
}

.section.reservation .data .phone input {
	width: 160px;
}

.section.reservation .data label {
	font-size: 16px;
	color: #333333;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	margin: 4px 0;
}

.section.reservation .data input {
	border: 1px solid #cccccc;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 13px;
	font-size: 16px;
	color: #333333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
}

.section.reservation .textareaComment {
	margin-bottom: 30px;
}

.section.reservation .textareaComment textarea{
	width: 800px;
	height: 74px;
	border: 1px solid #cfccc8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 12px;
	font-size: 16px;
	color: #333333;
	resize: none;
}

.section.reservation .ourTel {
	float: right;
	width: 275px;
	padding: 8px 0 0 25px;
}

.section.reservation .ourTel .title {
	font-size: 16px;
	color: #666666;
}

.section.reservation .ourTel .phone {
	font-size: 16px;
	color: #000;
}

.section.reservation .ourTel .desc {
	display: block;
	font-size: 13px;
	color: #666666;
	letter-spacing: -0.5px;
	white-space: nowrap;
	padding-top: 6px;
}

.section.reservation .note {
	float: left;
	font-size: 13px;
	color: #999999;
	line-height: 15px;
	display: block;
	margin: 14px 0 0 0;
}

.section.reservation .submit {
	width: 400px;
	margin: 0 auto;
}

.section.reservation .submit input {
	border: 1px solid #cfccc8;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 700;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	background: none;
}

/*****************/
/*****FOOTER******/
/*****************/
#footer {
	line-height: 1;
	text-align: center;
	padding-bottom: 20px;
	background: #cfccc8;
}

.footContacts {
	background: rgba(0,0,0,0.5);
	font-size: 0;
	max-width: 1200px;
	margin: 0 auto;
}

.innerFootContacts {
	text-align: center;
	padding: 27px 0 3px 0;
}

.homePage #footer {
	padding-bottom: 0;
}

.homePage #footer .footContacts {
	max-width: 100%;
}

.homePage #footer .footContacts .innerFootContacts {
	max-width: 1200px;
	margin: 0 auto;
}

.footContacts .part {
	padding: 0 0 24px 0;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 33.3%;
}

.footContacts .part .item {
	position: relative;
	color: #fff;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	line-height: 28px;
	padding-left: 90px;
	letter-spacing: -0.2px;
}

.footContacts .part .item a,
.footContacts .part .item span {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.footContacts .part .item a:before,
.footContacts .part .item span:before {
	content: '';
	position: absolute;
	left: 50px;
	top: 4px;
	background: url('../img/sprite.png') no-repeat left top;
}

.footContacts .part .item .icon_location:before {
	top: 2px;
	background-position: -223px 0;
	width: 17px;
	height: 23px;
}

.footContacts .part .item .icon_tel:before {
	top: 2px;
	background-position: -240px 0;
	width: 20px;
	height: 21px;
}

.footContacts .part .item .icon_mail:before {
	top: 6px;
	background-position: -260px 0;
	width: 19px;
	height: 15px;
}

#googleMap {
	height: 770px;
}

#googleMap.gMapInContacts {
	height: 700px;
}

.popupGalery {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,0.85);
	text-align: center;
	overflow: auto;
}

.innerPopupGalery {
	padding: 50px 0;
	display: inline-block;
	max-width: 60%;
	text-align: left;
	position: relative;
}

.leftArrowPopupGalery,
.rightArrowPopupGalery {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 94px;
	height: 94px;
	margin-top: -47px;
	display: block;
	cursor: pointer;
	background: rgba(0,0,0,0.22);
}

.leftArrowPopupGalery:before,
.rightArrowPopupGalery:before {
	content: '';
	width: 46px;
	height: 53px;
	display: block;
	background: url('../img/sprite.png') no-repeat left top;
	opacity: 0.5;
	margin: 20px auto;
}

.leftArrowPopupGalery {
	left: 0;
}

.rightArrowPopupGalery {
	right: 0;
}

.leftArrowPopupGalery:before {
	background-position: -409px 0;
}

.rightArrowPopupGalery:before {
	background-position: -455px 0;
}

.closePopupGalery {
	position: absolute;
	right: 0;
	top: 50px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	background: rgba(0,0,0,0.22);
}

.closePopupGalery:before {
	content: '';
	width: 24px;
	height: 26px;
	display: block;
	background: url('../img/sprite.png') no-repeat -501px top;
	opacity: 0.5;
	margin: 12px auto;
}

.innerPopupGalery .img {

}

.innerPopupGalery .img img {
	width: 100%;
}

.innerPopupGalery .info {
	position: relative;
	background: #fff;
}

.innerPopupGalery .info .title {
	position: absolute;
	left: 0;
	bottom: 100%;
	background: #000;
	display: block;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	padding: 0 30px;
	height: 70px;
	line-height: 70px;
}

.innerPopupGalery .info .price {
	float: left;
	text-align: center;
	width: 120px;
	font-size: 24px;
	color: #000;
	font-weight: 700;
	padding: 24px 0;
	display: block;
}

.innerPopupGalery .info .txt {
	margin-left: 120px;
	font-size: 18px;
	color: #000;
	line-height: 21px;
	display: block;
	padding: 24px 20px 24px 0;
}